@charset "UTF-8";
body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: #FFD0C7 url(images/blackgoose.png) no-repeat center 100px fixed;
}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  
  background: 
    
    url(images/gooseshadow.png) 90% bottom no-repeat;
  background-color: rgb(255, 208, 199));
}

a {
  text-decoration: none;
}
a:link {
  color: #939;
}
a:visited {
  color:#ffe6ff;
}
a:focus, a:hover {
  color:#ffc9fc;
  background-color: ;
}
a:active {
  color: #FFD0C7;
  background-color: #fff;
}

h1 {
  font: bold 1.5em Georgia, serif;
  text-shadow: .05em .05em .1em lightslategray;
  text-align: center;
  color: #ffc9fc;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: #55692a;
}
dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#info p {
  font-style: italic;
}
.price {
  font-family: Georgia, serif;
  font-style: italic;
}
p.warning, sup {
  font-size: small;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}
